
html {
    height: 100%;
}

body{
    background-color: #333333;

}

footer{
    color: rgb(99, 102, 102);

}

h1.title{
    color: #B4B5B5;
    
}

/* tout les div */
/*div#content div{ }*/

div#content div.c_left{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    height: 100%;
    margin-left: 33px;
}

div#content div.c_right{
    display: inline-block;
    width: 48%;
    vertical-align: top;

    height: 100%;


}

div#content div.c_right div.d_left{
    display: inline-block;
    width: 33%;
    vertical-align: top;
    height: 100%;

    
}

div#content div.c_right div.d_center{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    height: 100%;

}

div#content div.c_right div.d_right{
    display: inline-block;
    width: 33%;
    vertical-align: top;
    height: 100%;

}

button.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

button.button:hover{
    background-color: green;
}

div.def{
    display: inline-block;
    width: 48%;
}

div.tal{
    display: inline-block;
    width: 48%;
}

nav.menu-nav ul li.btn{
    list-style-type: none;
    display: inline-block;
    font-weight: bold;

}

nav.menu-nav ul li.btn a{
    color: #B4B5B5;
    text-decoration: none;
    background-color: #555555;
    padding: 10px;
    border-radius: 15%;

}

nav.menu-nav ul li.btn:hover a{
    background-color: #3F4040;
    transition: 0.25s all;
}



ul.list_btn{
    background-color: #555555;
    height: 40px;
}

ul.armor{
    list-style-type: none;
}

/*tableau*/

    /*select*/
    select.shelmet{
        background-color: #B4B5B5;
        padding: 10px;
        width: 100%;
    }
    select.schest{
        background-color: #B4B5B5;
        padding: 10px;
        width: 100%;
    }
    select.sarms{
        background-color: #B4B5B5;
        padding: 10px;
        width: 100%;
        
    }
    select.swaist{
        background-color: #B4B5B5;
        padding: 10px;
        width: 100%;
    }
    select.slegs{
        background-color: #B4B5B5;
        padding: 10px;
        width: 100%;
    }
    select.samulette{
        background-color: #B4B5B5;
        padding: 10px;
        width: 100%;
    }
    /*case*/
    td.ligne{
        text-align: left;
        width: 33%;
        height: 33%;
    }


